.row-custom {
    padding-left: 10px;
    padding-top: 20px;
}
.card.card-global {
    width: 10rem;
    height: 14rem;
    background-color: #f8f9fa;               
}
.card.card-default {
    border: 1px solid black;
}
.card.card-error {
    border: 2px solid red;
}
.card.card-unselected {
    cursor: pointer;
    border: 1px solid black;
}
.card-global.dark-mode {
    background-color: #2c2c2c; 
}
.card-global.dark-mode .plus-image {
    filter: invert(80%);
}
.card-default.dark-mode {
    border: 1px solid #898989 !important;
}  
.card-error.dark-mode {
    border: 2px solid red;
}
.card-unselected.dark-mode {
    border: 1px solid #898989;
}
.modal.dark-mode .modal-content {
    background-color: #363636;
}